<div class="frows">
  <%= form.error_messages %>
  <div class="frow">
    <%= form.label :title %>
    <%= form.text_field :title, :class => "txt" %>
  </div>

  <div class="frow">
    <%= form.label :body %>
    <%= form.text_area :body, :class => "txt"  %>
  </div>
  
</div>