<% content_for :head do%>
  <%= javascript_tag "window._token = '#{form_authenticity_token}';" %>
<% end %>

<% form_for :post, :url => { :action => "update" }, :html => { :method => :put, :class => "with-panel" } do |f| %>
  <%= render :partial => 'form', :object => f %>
  <div class="side-panel">
    <p>Status: <%= @post.status %></p>
    <div class="btns">
      <%= f.submit "Update Post" %>
      <% if @post.draft? %><%= f.submit "Publish", :name => 'publish' %><% end %>
      <%= f.submit "Preview", :name => 'preview', :id => "post_preview" %>
    </div>
  </div>
<% end %>