<% form_for :post, :url => { :action => "update" }, :html => { :method => :put } do |f| %>
  <%= render :partial => 'form', :object => f %>
  <p>Status: <%= @post.status %></p>
  <div class="btns">
    <%= f.submit "Update Post" %>
    <% if @post.draft? %><%= f.submit "Publish" %><% end %>
    <%= f.submit "Preview", :name => 'preview' %>
  </div>
<% end %>